body {
    background: linear-gradient(
        64deg,
        rgb(16, 2, 39),
        rgb(125, 145, 142));
}

#navbar {
    width: 100%;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    background: linear-gradient(
        rgb(41, 68, 23),
        chartreuse) ;
    border-bottom: 1px solid blue;
    position: fixed;
}

#navbar ul {
    list-style: none;
    width: 800px;
    margin: 0 auto;
    padding: 0;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: blue;
    border-right: 1px solid rgb(76, 146, 212);
    font-family: monospace
}

#navbar li:first-child a {
    border-left: 1px solid rgb(76, 146, 212);
}

#navbar li a:hover {
    color: rgb(141, 31, 214)
}

h1 {
    text-align: center;
    font-size: 100px;
    color:chartreuse;
    border: 8px dotted rgb(76, 146, 212);
    background-color: rgb(31, 3, 32);
    font-family: monospace;
}   

h2 {
    text-align: center;
    color: chartreuse;
    border:5px dotted rgb(76, 146, 212);
    background-color: rgb(31, 3, 32);
    font-family: monospace;
    
}

.welcome-section {
    height: 100%;
}

.divhead1 {
    padding:60px;
}

.divhead2 {
    padding: 0 25px
}

.divhead3 {
    padding-bottom: 150px;
}

#Projects {
    text-align: center;
}

.project-title a {
    font-size: 30px;
    font-family: monospace;
    color: chartreuse;
    text-decoration: none;
}

.project-title {
    padding-top: 17px;
}

.project-title a:hover {
    color:blueviolet;
}

footer {
    text-align: center;
    margin-top: 100px;
    margin-left: 160px;
    margin-right: 160px;
    color: chartreuse;
    font-family: monospace;
    font-size: 15px;
    border: 5px dotted rgb(76, 146, 212);
    background-color: rgb(31, 3, 32);
}

footer address {
    padding-top: 12px;
}

footer a {
    color:rgb(76, 146, 212);
    text-decoration: none;
}

footer a:hover {
    color:rgb(141, 31, 214);
}
img {
    border-radius: 20px;
    width: 80%; 
    padding: 10px;
}

#p-t-1 {
    border: 8px dotted rgb(76, 146, 212);
    padding:20px;
    margin: 20px 80px;
    background-color: rgb(31, 3, 32);
}

#p-t-2 {
    border: 8px dotted rgb(76, 146, 212);
    padding:20px;
    margin: 20px 80px;
    background-color: rgb(31, 3, 32);
}

#p-t-3 {
    border: 8px dotted rgb(76, 146, 212);
    padding:20px;
    margin: 20px 80px;
    background-color: rgb(31, 3, 32);
}

#p-t-4 {
    border: 8px dotted rgb(76, 146, 212);
    padding:20px;
    margin: 20px 80px;
    background-color: rgb(31, 3, 32);
}

.caption {
    display: block;
}


